.button {
  appearance: none;
  border: 0;
  text-align: center;
  text-decoration: none;

  box-sizing: border-box;
  padding: 16px 24px;
  width: 100%;
  max-width: 100%;
  display: block;
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.button:not([disabled]) {
  background-color: #242424;
  color: white;
  cursor: pointer;
}
.button[disabled] {
  background-color: #484848;
  color: white;
  cursor: not-allowed;
}
