.instruction-help-wrap {
  padding: 16px;
}
.instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instruction-title {
  font-size: 18px;
}
.help {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
