.App {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.video-area {
  position: relative;
  flex: 3;
}
.results-area {
  flex: 1;
}

.user-media-preview {
  height: 100%;
}
.detection-result {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.exact-match {
  z-index: 100;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scan-results {
  margin-top: 24px;
}
.scan-results-heading {
  margin: 0 16px;
  margin-bottom: 8px;
}
